<b-container>
	<b-row>
		<b-col>
			<h4>Lapps を使ってみる（ウォレット）</h4>
			<p>もっともありふれたLappsはウォレットです。まずはウォレットを使ってみましょう。Andoridで<a href="https://play.google.com/store/apps/details?id=fr.acinq.eclair.wallet">Eclair Wallet Testnet</a>をインストールしてみてください。その後、表示されたビットコインアドレスに対して、<a href="https://coinfaucet.eu/en/btc-testnet/">Faucet</a>から送金してください。これでTestnetでライトニングを使う準備は完了です。</p>

			<h4>Lapps を使ってみる（ウォレット以外）</h4>
			<p>お金は使わなければ意味がありません。実際に使ってみましょう。今回は、Testnetで漫画配信サイトでテストします。<a href="https://docs.google.com/presentation/d/1vqFeYq0xXbl0GjAjgoMzjQODqb4riyuyCffOAzCm9zE/edit#slide=id.g47c379f50f_0_0">こちらのスプレッドシート</a>を見て、この手順のとおりに進めてみてください。</p>
		</b-col>
	</b-row>
</b-container>
