<b-container>
	<b-row>
		<b-col>
			<p>Lappsを作りたい開発者に対して、一から説明をします。</p>

			<h4>bitcoind/lightningd のインストール</h4>
			<p>lightningdはライトニングでお金を扱う為のデーモンです。ライトニングはビットコインを用いた技術のため、bitcoind も必要になります。これらのインストール方法は<a href="https://qiita.com/jiyu/items/7130ddb49e532ac96ff0" target="_blank">こちら</a>に
			書いてあります。</p>

			<h4>bitcoind/lightningd のインストール</h4>
			<p>lightningdはライトニングでお金を扱う為のデーモンです。ライトニングはビットコインを用いた技術のため、bitcoind も必要になります。これらのインストール方法は<a href="https://qiita.com/jiyu/items/7130ddb49e532ac96ff0"
				 target="_blank">こちら</a>に
				書いてあります。</p>

			<h4>lightningd を使って Lapps を開発する</h4>
			<p>技術を習得するには、とにかく使ってみるのが一番です。前項でインストールした lightningd を使ってみましょう。Testnet でお金の送金をしたい場合は、<router-link to="use">こちら</router-link>というページを参考にしてください。c-lightning の場合、コマンド一覧は "lightning-cli help"で得られます。</p>

			<h4>実際のソースコードが見たい！</h4>
			<p><a href="https://github.com/midori-green/gc_lapps_test" target="_blank">Github</a>にアップロードしました。ソースコードの解説は<a href="https://docs.google.com/presentation/d/1u0WMho5MFB3twriiXrxW6buVD8DHU8ydf9xdbUxMVMA/edit" target="_blank">こちらのスライド</a>でしています。
			</p>

			<h4>質問や情報共有がしたい！</h4>
			<p><router-link to="Communicate">交流する</router-link>というページにどうぞ。</p>
		</b-col>
	</b-row>
</b-container>
