<b-container>
	<b-row>
		<b-col>
			<p>ライトニングのコミュニティは、国外にはそれなりにあります（例えば lnd なら<a href="https://dev.lightning.community/">こちら</a>。このページでは、日本語で交流できるコミュニティを紹介します。</p>

			<h4>みどり</h4>
			<p>このサイトの運営である、みどり合同会社のコミュニティです。<a href="https://join.slack.com/t/midori-green/shared_invite/enQtNDcyNDk5MDU1NjUwLWE2NmFkODQ1YmIwZGEyYjdlYjU0MjhiMTg4Yjc0ZWQwMjk2ZWJlYzhlMmRmNDIyYzJjMzJmMzk3MzlkMjEyMDU">こちらのリンク</a>から Slack に入れますので、 #lapps というチャネルで交流してください。不明点があったら @jiyu にDMやリプライを飛ばしてください。</p>

			<h4>オフチェーンアカデミー</h4>
			<p>勉強会やハッカソンを不定期で開催している技術コミュニティです。connpassのリンクは<a href="https://lightning-academy.connpass.com/event/107801/">こちら</a>です。ワークショップに参加したり、高度な知識を身に着けたい方に向いています。</p>

			<p>※その他のコミュニティもありましたら、<a href="mailto:m@jiyu.green">こちらまで</a>情報をお待ちしております！</p>
		</b-col>
	</b-row>
</b-container>
