<b-container>
	<b-row>
		<b-col>
			<p>こんにちは！　ここはビットコインの技術の一つである、ライトニングネットワーク（以下「ライトニング」）を使ったアプリ、通称「Lapps（ラップス）」について解説するサイトです。全て日本語で説明しています。</p>

			<h4>ライトニングってなに？</h4>
			<p>あえて簡単に言うと「ビットコインのSUICA」です。事前にお金のチャージ（ファンディング）が必要ですが、チャージしたお金は即時に、低手数料（ほぼゼロ）で送れます。正確に知りたい方は<a href="https://ja.wikipedia.org/wiki/%E3%83%A9%E3%82%A4%E3%83%88%E3%83%8B%E3%83%B3%E3%82%B0%E3%83%8D%E3%83%83%E3%83%88%E3%83%AF%E3%83%BC%E3%82%AF" target="_blank">ウィキペディア</a>を見てください。<a href="https://thinkit.co.jp/series/8251" target="_blank">こちらの解説</a>もわかりやすいです。</p>

			<h4>ライトニングで何ができる？</h4>
			<p>①即時送金（ビットコインは決済確定に１時間以上かかります）②低手数料送金（ほぼゼロ）ができます。</p>

			<h4>ライトニングの欠点は？</h4>
			<p>①使うまでの準備が面倒②大多数が使わないと利便性が低い、などの問題があります。</p>

			<h4>Lappsってなに？</h4>
			<p>ライトニングを使ったアプリです。お金を管理したり送金するウォレットや、お金を払ってコンテンツを閲覧するWebサイトがそれに当たります。ウォレットは例えばAndroidの<a href="https://play.google.com/store/apps/details?id=com.lightning.walletapp" target="_blank">Bitcoin Lightning Wallet</a>などがあり、コンテンツ系は<a href="https://manga.green/" target="_blank">Green Chain</a>という漫画配信サイトがそれです。</p>
		</b-col>
	</b-row>
</b-container>
